@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    font-family: 'Poppins',sans-serif ; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(253, 254, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.full {
    width: 55%;
    max-width: 1000px;
    min-height: 100px;
    background-color: rgb(245, 239, 231);
    margin: 50px;
    display: grid;
    grid-template-columns: 2fr 4fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
    color : #fff;
}

.left {
    position: initial;
    background :#003149;
    padding: 40px;

}
.intro {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(255,255,255,0.2);
}
.intro .image{
        position: relative;
        width: 150px;
        height: 150px;;
        border-radius: 50%;
        overflow: hidden;
}
.intro .image img {
        position: absolute;
        top:0;
        bottom:0;
        width:100%;
        height:110%;
        object-fit: cover;
}
.intro h2 {
    color : #fff;
    font-size: 1.40em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.intro p {
    color : #fff;
    font-size: 0.8em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    line-height: 1.4em;
}

.Contact {

}



.right {
    position: initial;
    background-color: rgb(127, 164, 166);
    padding: 40px;

}

.image,
.Contact,
.Skills,
.Language,
.Hobbies,
.title,
.Summary,
.Experience,
.Education,
.project {
    margin-bottom: 30px;
}
table {
    color:#fff;
    text-align: center;
}

.h2 {
    background-color: rgb(4, 96, 155);
}
table,th,td{
    border : 1px solid black;
    border-collapse: collapse;
    padding: 5;
}